src/main/resources/wsdl/b2brouting.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions targetNamespace="http://appdynamics.com/cxf/commercial-cpm/megaswitch/v1/b2brouting"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://appdynamics.com/cxf/commercial-cpm/megaswitch/v1/b2brouting"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="B2BRouting">

	<wsdl:types>
		<schema targetNamespace="http://appdynamics.com/cxf/commercial-cpm/megaswitch/v1/b2brouting"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://appdynamics.com/cxf/commercial-cpm/megaswitch/v1/b2brouting"
			elementFormDefault="qualified" attributeFormDefault="unqualified"
			version="1.0">

			<element name="RequestXml">
				<complexType>
					<sequence>
						<element name="oInputXml">
							<complexType>
								<sequence>
									<element name="B2BAvailabilityRequest">
										<complexType>
											<simpleContent>
												<extension base="string">
													<attribute type="float" name="APIVersion" />
													<attribute type="string" name="B2BAPIUserEmailAddress" />
													<attribute type="string" name="B2BAPIUserPassword" />
													<attribute type="string" name="DepAirportCode" />
													<attribute type="string" name="ArrAirportCode" />
													<attribute type="string" name="DepBeginDate" />
													<attribute type="integer" name="AdultSeats" />
													<attribute type="string" name="ReturnBeginDate" />
												</extension>
											</simpleContent>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="RequestXmlResponse">
				<complexType>
					<sequence>
						<element name="RequestXmlResult">
							<complexType>
								<sequence>
									<element name="ResponseRoot">
										<complexType>
											<sequence>
												<element name="DataListRoot">
													<complexType>
														<sequence>
															<element name="AvailabilityResponse">
																<complexType>
																	<sequence>
																		<element name="AvailabilityList">
																			<complexType>
																				<sequence>
																					<element name="Availability"
																						maxOccurs="unbounded" minOccurs="0">
																						<complexType>
																							<simpleContent>
																								<extension base="string">
																									<attribute type="string"
																										name="ArrivalAirportCode" use="optional" />
																									<attribute type="string"
																										name="CarrierCode" use="optional" />
																									<attribute type="string"
																										name="CurrencyCode" use="optional" />
																									<attribute type="string"
																										name="DepAirportCode" use="optional" />
																									<attribute type="integer" name="Direction"
																										use="optional" />
																									<attribute type="string"
																										name="DisplayCurrencyCode" use="optional" />
																									<attribute type="float"
																										name="FareAmount" use="optional" />
																									<attribute type="string"
																										name="FareClass" use="optional" />
																									<attribute type="string"
																										name="FlightIdentification" use="optional" />
																									<attribute type="short"
																										name="FlightNum" use="optional" />
																									<attribute type="float"
																										name="InternetDiscount" use="optional" />
																									<attribute type="short"
																										name="LocalArrTime" use="optional" />
																									<attribute type="date" name="LocalDepDate"
																										use="optional" />
																									<attribute type="short"
																										name="LocalDepTime" use="optional" />
																									<attribute type="float"
																										name="TaxAmount" use="optional" />
																									<attribute type="integer"
																										name="TotalSeatsAvailable" use="optional" />
																								</extension>
																							</simpleContent>
																						</complexType>
																					</element>
																				</sequence>
																			</complexType>
																		</element>
																	</sequence>
																</complexType>
															</element>
															<element name="WarningList">
																<complexType>
																	<sequence>
																		<element name="Warning">
																			<complexType>
																				<simpleContent>
																					<extension base="string">
																						<attribute type="string" name="Action" />
																						<attribute type="string" name="Description" />
																						<attribute type="int" name="ID" />
																					</extension>
																				</simpleContent>
																			</complexType>
																		</element>
																	</sequence>
																</complexType>
															</element>
														</sequence>
													</complexType>
												</element>
											</sequence>
											<attribute type="float" name="APIVersion" />
											<attribute type="integer" name="Success" />
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="b2bAvailabilityRequest">
		<wsdl:part name="request" element="tns:RequestXml"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="b2bAvailabilityResponse">
		<wsdl:part name="greeting" element="tns:RequestXmlResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="B2BAvailability_PortType">
		<wsdl:operation name="b2bAvailabilityRequest">
			<wsdl:input message="tns:b2bAvailabilityRequest"></wsdl:input>
			<wsdl:output message="tns:b2bAvailabilityResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="B2BAvailability_Binding" type="tns:B2BAvailability_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="b2bAvailabilityRequest">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="B2BAvailability_Service">
		<wsdl:port name="B2BAvailability_Port" binding="tns:B2BAvailability_Binding">
			<soap:address
				location="http://localhost:8181/cxf/commercial-cpm/megaswitch/v1/b2brouting" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>